.heading{
    color: green;
}
p{
    color: white;
}
body{
    background-color: lightseagreen;
}
h1{
    color: green;
    font-weight: bolder;
    
  
}
#unique{
    color: white;
}